.filter {
  background-color: var(--bg-color-title);
}
.filter-button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-btm-item:not(:last-child) {
  margin-right: 8px;
}
.filter-btn {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  padding: 6px 22px;
  box-sizing: content-box;
  color: var(--first-color-text);
  background-color: var(--bg-color-second);
  &:hover,
  &:focus {
    text-shadow: 2px 3px 3px #0000001f, 0 0 1em var(--second-color-text);
    -moz-box-shadow: 0px 2px 2px 0px #0000001f;
    -webkit-box-shadow: 0px 1px 2px 0px #00000014;
    box-shadow: 0px 3px 1px 0px #0000001a;
  }
}
