.header {
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0, 2em;
  background-color: var(--bg-color-title);
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 25px;
  &-container {
    display: flex;
    align-items: center;
  }
  &-logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--first-color-text);
    text-decoration: none;
    margin-right: 93px;
  }
}
.logo-left {
  color: var(--accent-color-text);
}
.header-navigation-item > .current {
  position: relative;
}
.current::after {
  content: "";
  position: absolute;
  bottom: -33px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color-bg);
  display: block;
}

.header-navigation {
  display: flex;
  align-items: center;
  &-site {
    display: flex;
    align-items: center;
    color: var(--first-color-text);
  }
}

.nav-link {
  display: flex;
  align-items: center;
}

.header-navigation-item:not(:last-child) {
  margin-right: 50px;
}
.header-contacts {
  margin-left: auto;
  &-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.header-mail-link {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}
.mail-icon {
  margin-right: 7px;
  fill: currentColor;
}

.header-tel-link {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tel-icon {
  margin-right: 7px;
  fill: currentColor;
}
