.mobile-menu {
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  width: 100vw;
  height: 100vh;
  @media screen and (min-width: 768px) {
    display: none;
  }
  overflow-y: scroll;
  position: fixed;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  z-index: 999;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .container {
    padding-top: 48px;
    padding-left: 40px;
    padding-bottom: 80px;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 500px;
    @media screen and (max-width: 479px) {
      padding-left: 15px;
    }
  }
}
.menu-toggle {
  position: absolute;
  right: 15px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  cursor: pointer;
  border: transparent;
  text-align: center;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: #2196f3;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.icon-menu-close {
  position: absolute;
  top: -38px;
  right: 0;
}
.mobile-menu.is-open {
  transform: translateX(0);
}
.menu-carrent {
  color: var(--accent-color-text);
}
.mobile-pages-item {
  max-width: 100%;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px / 40px;
  text-align: left;
  letter-spacing: 0.02em;
  color: var(--first-color-text);
  margin-bottom: 32px;
  @media screen and (max-width: 479px) {
    font-size: 7vw;
  }
}

.mobile-tel-link {
  display: block;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color-text);
  margin-bottom: 32px;
  @media screen and (max-width: 479px) {
    font-size: 6vw;
  }
}
.mobile-mail-link {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  margin-bottom: 64px;
  @media screen and (max-width: 479px) {
    font-size: 5vw;
  }
}
.menu-social-list {
  display: flex;
  width: 100%;
}
.menu-social-item {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color-text);
  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
    margin-right: 10px;
  }
  @media screen and (max-width: 479px) {
    font-size: 4vw;
  }
}
