:root {
  --first-color-text: #212121;
  --second-color-text: #757575;
  --color-hero-title: #ffffff;
  --accent-color-text: #2196f3;
  --accent-color-bg: #188ce8;
  --bg-color-title: #ffffff;
  --bg-color-first: #2f303a;
  --bg-color-second: #f5f4fa;
  --color-text-footer: #ffffff;
  --color-btn-hover: #ffffff;
  --bg-color-btn: #2196f3;
}
